{{#if @model}}
  <div class="my-8">
    <Table @header={{array "ID" "Email" "Time Stamp" "Message" }}>
      {{#each @model as |message|}}
        <tr class="bg-white border-4 text-center border-gray-200">
          <td class="text-xs"> {{message.id}} </td>
          <td class="text-xs p-4"> {{message.email}} </td>
          <td class="text-xs">  {{message.dateSent}} </td>
          <td class="text-xs overflow-y-auto "> {{message.message}} </td>
        </tr>
      {{/each}}
    </Table>
    <button 
      {{on 'click' this.purgeMessages}}
      type="button" 
      class="w-2/5 float-right mt-6 bg-red-600 hover:bg-red-500 text-white font-semibold p-3">
      Purge messages
    </button>
  </div>
{{else}}
  <Alert @color="red">No records in database</Alert>
{{/if}}