<Form @title="Edit library information">
  <Input 
    @value={{@model.name}}
    type="text" 
    placeholder="Library name" 
    class="border p-2 w-full mt-3" 
  />

  <Input 
    @value={{@model.address}}
    type="text" 
    placeholder="Library adress" 
    class="border p-2 w-full mt-3" 
  />

  <Input 
    @value={{@model.phoneNumber}}
    type="text" 
    placeholder="Telephone number" 
    class="border p-2 w-full mt-3" 
  />

  <Textarea 
    @value={{@model.additional}}
    cols="10" 
    rows="3" 
    placeholder="Additional info (optional)" 
    class="border p-2 mt-3 w-full"
    />

  <button 
    {{on 'click' this.saveChanges}}
    type="button" 
    class="w-full mt-6 bg-blue-600 hover:bg-blue-500 text-white font-semibold p-3"
  >
    Save changes
  </button>
</Form>
