<Form @title="Add new library">
  <Input 
    @value={{this.name}}
    type="text" 
    placeholder="Library name" 
    class="border p-2 w-full mt-3" 
  />

  <Input 
    @value={{this.address}}
    type="text" 
    placeholder="Library adress" 
    class="border p-2 w-full mt-3" 
  />

  <Input 
    @value={{this.phoneNumber}}
    type="text" 
    placeholder="Telephone number" 
    class="border p-2 w-full mt-3" 
  />

  <Textarea 
    @value={{this.additionalInfo}}
    cols="10" 
    rows="3" 
    placeholder="Additional info (optional)" 
    class="border p-2 mt-3 w-full"
  />

  <button 
    disabled={{this.isDisabled}}
    {{on 'click' this.addLibrary}}
    type="button" 
    class="{{if this.isDisabled 'disabled'}} w-full mt-6 bg-blue-600 hover:bg-blue-500 text-white font-semibold p-3">
    Add new Library
  </button>
</Form>

    
  