{{#if this.isEmpty}}
<div class="my-8">
  <Table @header={{array "Item" "Price" "Author" "Amount" "Total" }} >
    {{#each this.cartContents as |shopItem|}}
      <tr class="bg-white border-4 text-center border-gray-200 hover:bg-gray-100">
        <td class="text-sm"> {{shopItem.name}} </td>
        
        <td class="text-xs"> ${{shopItem.price}} </td>
        
        <td class="text-xs"> {{shopItem.authorName}} </td>
        
        <td class="text-xs"> {{shopItem.amount}} </td>
        
        <td class="text-xs"> $ {{shopItem.totalPrice}} </td>
      </tr> 
    {{/each}}
  </Table>
  
  <UserInfoForm 
    @firstName={{this.firstName}}
    @lastName={{this.lastName}}
    @email={{this.email}}
    @street={{this.street}}
    @town={{this.town}}
    @isDisabled={{this.isDisabled}}
    @orderItems={{this.orderItems}}
  />

</div>


{{else}}
  <Alert @color="red">Please add books in the cart first</Alert>
{{/if}}